body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #B3BFFF;
    font-size: 30px;
    text-align: justify;
    
}

h1{
    background-color:#FFBBE1;
    text-align: center;
    display: inline-block;
    width: 98%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

a{
    color:#FFF58A;
}

ul{
    border: #DD7BDF;
    display: flex;
    justify-content: center; 
    list-style: none; 
    padding: 0;
}


